<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03UI_10bonus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{94,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_10bonus_1_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{94,40}</string>
                <key>textureRect</key>
                <string>{{97,1},{94,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_10bonus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{94,40}</string>
                <key>textureRect</key>
                <string>{{193,1},{94,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_10bonus_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{94,40}</string>
                <key>textureRect</key>
                <string>{{289,1},{94,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_10bonus_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,40}</string>
                <key>spriteSourceSize</key>
                <string>{94,40}</string>
                <key>textureRect</key>
                <string>{{385,1},{94,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jp.png</string>
            <key>size</key>
            <string>{480,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4108677ce02d17856f099f73a191aaed:805ab0301422cc1371f0347df2953db2:3a64017a685d2c4c559c7d298344c5a0$</string>
            <key>textureFileName</key>
            <string>jp.png</string>
        </dict>
    </dict>
</plist>
