<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03UI_01CoinIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,27}</string>
                <key>spriteSourceSize</key>
                <string>{150,27}</string>
                <key>textureRect</key>
                <string>{{110,856},{150,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03UI_01CoinIn_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,27}</string>
                <key>spriteSourceSize</key>
                <string>{150,27}</string>
                <key>textureRect</key>
                <string>{{110,1008},{150,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03UI_02All_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,27}</string>
                <key>spriteSourceSize</key>
                <string>{94,27}</string>
                <key>textureRect</key>
                <string>{{110,1192},{94,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_02All_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,27}</string>
                <key>spriteSourceSize</key>
                <string>{94,27}</string>
                <key>textureRect</key>
                <string>{{110,1221},{94,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_02All_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,27}</string>
                <key>spriteSourceSize</key>
                <string>{94,27}</string>
                <key>textureRect</key>
                <string>{{139,856},{94,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_05Out_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{206,1192},{54,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03UI_13message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,122}</string>
                <key>spriteSourceSize</key>
                <string>{283,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{283,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03UI_13message_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,122}</string>
                <key>spriteSourceSize</key>
                <string>{283,122}</string>
                <key>textureRect</key>
                <string>{{125,1},{283,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03UI_13message__cht.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,122}</string>
                <key>spriteSourceSize</key>
                <string>{283,122}</string>
                <key>textureRect</key>
                <string>{{1,286},{283,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03UI_13message__en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,122}</string>
                <key>spriteSourceSize</key>
                <string>{283,122}</string>
                <key>textureRect</key>
                <string>{{125,286},{283,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03UI_13message_cht.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,122}</string>
                <key>spriteSourceSize</key>
                <string>{283,122}</string>
                <key>textureRect</key>
                <string>{{1,571},{283,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03UI_13message_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,122}</string>
                <key>spriteSourceSize</key>
                <string>{283,122}</string>
                <key>textureRect</key>
                <string>{{125,571},{283,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03UI_22Error.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,80}</string>
                <key>spriteSourceSize</key>
                <string>{400,80}</string>
                <key>textureRect</key>
                <string>{{1,856},{400,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AutoSpr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,30}</string>
                <key>spriteSourceSize</key>
                <string>{64,30}</string>
                <key>textureRect</key>
                <string>{{139,885},{64,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DbgArea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,25}</string>
                <key>spriteSourceSize</key>
                <string>{400,25}</string>
                <key>textureRect</key>
                <string>{{83,856},{400,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MaintainSpr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,30}</string>
                <key>spriteSourceSize</key>
                <string>{128,30}</string>
                <key>textureRect</key>
                <string>{{110,1160},{128,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tv01.png</string>
            <key>size</key>
            <string>{248,1257}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ee45013d9d1d198d8a5341934129769:0fcd221916c575294c46748458b9c322:9c398cd0169f980b71e84fa327f40fe3$</string>
            <key>textureFileName</key>
            <string>tv01.png</string>
        </dict>
    </dict>
</plist>
