<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>03UI_04Spin_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{1,1},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03UI_05Out_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{1,48},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_05Out_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{1,88},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_05Out_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{1,128},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_05Out_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{1,168},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_05Out_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{1,208},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_05Out_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{1,248},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_05Out_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{1,288},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_05Out_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,38}</string>
                <key>spriteSourceSize</key>
                <string>{54,38}</string>
                <key>textureRect</key>
                <string>{{1,328},{54,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_08Passageway_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{10,1},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_08Passageway_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1,368},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_08Passageway_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1,415},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_08Passageway_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1,462},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_08Passageway_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1,509},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_08Passageway_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1,556},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_08Passageway_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1,603},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03UI_08Passageway_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{1,650},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tv02.png</string>
            <key>size</key>
            <string>{56,696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a2e2dac09a1e6c5a96cbdddd5ee0881:9c2f6064be4f8ad3135ee35a5a4d793a:3df90d0a43bb4d2921b8241eeeb1c266$</string>
            <key>textureFileName</key>
            <string>tv02.png</string>
        </dict>
    </dict>
</plist>
